.not-found-con {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.not-found-con h3 {
    margin-bottom: 30px;
}
.error {
    position: relative;
    min-height: 300px;
    transform: translate(50%, 50%);
}
.error h1 {
    position: absolute;
    font-size: 300px;
    transform: translate(-50%, -50%);
}
.error h1:first-child {
    color: transparent;
    -webkit-text-stroke: 2px var(--section-background);
}
.error h1:last-child {
    color: var(--black-four);
    animation: water 4s ease-in-out infinite;
}

@media only screen and (max-width: 767px) {
    .error {
        min-height: 200px;
    }
    .error h1 {
        font-size: 200px;
    }
}
