.partners-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.partners-bg {
    position: absolute;
    inset: 0;
    z-index: -1;
}
.partners-bg img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.partners-bg::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--black);
    opacity: 0.65;
}

.single-partner {
    background-color: var(--white-opacity-65);
    padding: 15px 0;
    text-align: center;
}
.single-partner a {
    display: inline-block;
}
